server/.vs/carbox/config/applicationhost.config
server/.vs/carbox/DesignTimeBuild/.dtbcache.v2
server/.vs/carbox/FileContentIndex/303ed6b7-f394-40ea-9ece-1e3c6a981db9.vsidx
server/.vs/carbox/FileContentIndex/4ee66469-1501-46da-ac9a-e8e35599f3e4.vsidx
server/.vs/carbox/FileContentIndex/b7fddc09-50e6-46cb-9ec9-df651346a9b7.vsidx
server/.vs/carbox/FileContentIndex/bfd6f06f-bb55-4d1c-af03-ae38d0c87742.vsidx
server/.vs/carbox/FileContentIndex/da7af481-bd0b-44da-a075-4eaa946e48d5.vsidx
server/.vs/carbox/v17/.futdcache.v2
server/.vs/carbox/v17/.suo
server/.vs/carbox/v17/DocumentLayout.backup.json
server/.vs/carbox/v17/DocumentLayout.json
server/.vs/ProjectEvaluation/carbox.metadata.v9.bin
server/.vs/ProjectEvaluation/carbox.projects.v9.bin
server/.vs/ProjectEvaluation/carbox.strings.v9.bin
server/.vs/carbox/FileContentIndex/65ee446e-b475-4bb7-83fc-cfa120a57273.vsidx
server/.vs/carbox/FileContentIndex/db0e0694-6b14-476e-b511-17f1d38f9aba.vsidx
server/.vs/carbox/FileContentIndex/e4985fbc-0609-42bb-b74d-9f04a645bc9b.vsidx
server/.vs/carbox/FileContentIndex/fb16e8ba-463d-4a5e-b8e3-8c7acf31e348.vsidx
